
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="row copyright">
      <civ class="col-4">
        <p>Información relevante: </p>
        <li><a href="termines">Términos y condiciones</a></li>
      </civ>

      <civ class="col-4">
        <p>Follow me: </p>
          <a href="https://x.com/I_AM_Luiss_Br1" class="twitter" style="margin-right: 10px;"><i class="bi bi-twitter"></i></a>

          <a href="https://www.facebook.com/I.AM.Luiss.Br1/" class="facebook" style="margin-right: 10px;"><i class="bi bi-facebook"></i></a>

          <a href="https://github.com/iamBrunoL/" class="github" style="margin-right: 10px;"><i class="bi bi-github"></i></a>

          <a href="https://www.threads.net/@i.am_luiss_br1" class="threads" style="margin-right: 10px;"><i class="bi bi-threads"></i></a>

          <a href="https://games.app.goo.gl/HbJZANWxnvPK1bqC6" class="google-play" style="margin-right: 10px;"><i class="bi bi-google-play"></i></a>

          <a href="https://store.epicgames.com/u/1b780e79df0945c0bc238dd98a55e362" class="controller" style="margin-right: 10px;"><i class="bi bi-controller"></i></a>
      </civ>

      <civ class="col-4">
        <p>Designed by <a href="https://www.instagram.com/i.am_luiss_br1/">Luis Bruno</a></p>
      </civ>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>