<%- include("includes/_header", { titulo: titulo }) %>

<main id="main" data-aos="fade" data-aos-delay="200">
  <!-- ======= End Page Header ======= -->
  <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Acerca de</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row gy-4 justify-content-center">
        <div class="col-lg-4">
          <img src="/img/logo.png" class="img-fluid" alt="" style="border-radius: 20px;"/>
        </div>
        <div class="col-lg-6 content">
          <h2>Luis Bruno (Br1)</h2>
          <p class="py-3">
            "Nuestros sentidos nos permiten percibir sólo una pequeña porción del mundo exterior." Nikola Tesla.
          </p>

          <p class="py-3">
            ¡Hola! Soy desarrollador de software con una gran pasión por los
            videojuegos, la lectura y la fotografía. Me encanta sumergirme en
            mundos digitales y descubrir nuevas historias a través de los
            libros. Además, siempre llevo mi cámara conmigo para capturar
            momentos únicos y creativos. Esta combinación de intereses me
            inspira a ser creativo y detallista en mi trabajo como
            desarrollador.
          </p>
          <p class="py-3">
            Además, encuentro que los videojuegos no solo son una fuente de
            entretenimiento, sino también una gran inspiración para el
            desarrollo de soluciones innovadoras y atractivas. La lectura me
            permite expandir mis horizontes y adquirir nuevos conocimientos, lo
            cual aplico en mi trabajo diario. La fotografía, por su parte, me
            enseña a prestar atención a los detalles y a tener una perspectiva
            única, habilidades que también son esenciales en la programación. En
            resumen, cada una de mis pasiones contribuye a mi desarrollo
            personal y profesional, ayudándome a ser un mejor desarrollador cada
            día.
          </p>
        </div>
        <div class="row content">
            <h4>Conocimiento</h4>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <ul>
                <p>Lenguajes de Programación:</p>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Python</strong>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>JavaScript</strong>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>C++</strong>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <ul>
                <p>Desarrollo Web:</p>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>HTML5</strong>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>React.js</strong>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Node.js</strong>
                </li>
              </ul>

            </div>
              
            <div class="col-lg-3 col-md-6 col-sm-12">
              <ul>
                <p>Bases de Datos:</p>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>MySQL</strong>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>MongoDB</strong>
                </li>
              </ul>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <ul>
                <p>Sistemas Operativos:</p>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Linux</strong>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Windows</strong>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
</main>
<!-- End #main -->

<%- include("includes/_footer") %>
