<%- include("includes/_header", { titulo: titulo }) %>

<main id="main" data-aos="fade" data-aos-delay="350">
<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="hero d-flex flex-column justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2>Próximamente</h2>
        <p>
          Estamos trabajando en algo increíble. ¡Mantente atento para más
          actualizaciones!
        </p>

        <img
          src="/img/working2.png"
          class="img-fluid"
          alt="Próximamente"
          style="border-radius: 20px; max-width: 35%"
        />
        <br />
        <a href="/">Volver a la página principal</a>
        <br /><br /><br /><br />
      </div>

      <div class="col-6 text-center">
        <h5>Aplicación:</h5>
        <p>
          Puedes descargar una muestra sencilla de mí trabajo, haciendo clic en
          el siguiente botón.
        </p>
        <a href="/archivos/calaveritaLiteraria.apk" download="calaveritaLiteraria.apk" class="btn btn-primary"
          >Descargar APK <i class="bi bi-download"></i
        ></a>
      </div>

      <br>
      <br>

      <div class="col-6 text-center">
        <h5>Demo:</h5>
        <p>
          Recuerda visualizar mí trabajo en el siguiente enlace.
        </p>
        <a href="https://ahorcadowebpage.netlify.app/" class="btn btn-primary"
          >Probar demo <i class="bi bi-box-arrow-up-right"></i></i
        ></a>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->
</main>
<!-- End #main -->

<%- include("includes/_footer") %>
