<%- include("includes/_header", { titulo: titulo }) %>

<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="hero d-flex flex-column justify-content-center align-items-center"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2>Error 404 - P치gina No Encontrada</h2>
        <p>Upss!!!, la p치gina que est치s buscando no existe.</p>
    
        <img src="/img/error404.png" class="img-fluid" alt="" style="border-radius: 20px;"/>
      
        <br>

        <a href="/">Volver a la p치gina principal</a>
    </div>
  </div>
</section>
<!-- End Hero Section -->


<%- include("includes/_footer") %>