<%- include("includes/_header", { titulo: titulo }) %>

<main id="main" data-aos="fade" data-aos-delay="200">
  <!-- ======= End Page Header ======= -->
  <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Galería</h2>
          <h5>Cada imagen revela un momento épico y la belleza inmersiva del mundo digital y real.</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header -->
  

  <!-- ======= Gallery Single Section ======= -->
  <section id="gallery-single" class="gallery-single">
    <div class="container">
      <div class="position-relative h-100">
        <div class="slides-1 portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide">
              <img src="/img/galeria_ss/gris.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/img/galeria_fotos/foto (44).jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/img/galeria_ss/multiversus (1).jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/img/galeria_ss/freefire (2).jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/img/galeria_fotos/foto (5).jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/img/galeria_ss/multiversus (3).jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/img/galeria_ss/stray (1).jpg" alt="" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <div class="row justify-content-between gy-4 mt-4">
        <div class="col-lg-8">
          <div class="portfolio-description">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                Una de las razones por las que las personas se resisten al cambio es porque se concentran en lo que tienen que renunciar, en lugar de en lo que tienen para ganar.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <div>
                <h3>Rick Godwin</h3>
              </div>
            </div>

            <h2>Fotografías y capturas de pantalla</h2>
            <p>Disfruto capturando momentos únicos a través de mi lente. La fotografía es una de mis mayores pasiones y una forma de expresión que me permite ver el mundo desde diferentes perspectivas. En esta galería, comparto algunas de mis imágenes favoritas, cada una contando su propia historia. Desde paisajes serenos hasta la vibrante vida urbana, cada foto es un reflejo de mi viaje y mi visión. Espero que al explorar esta colección, puedas sentir la emoción y la belleza que encontré al tomar cada fotografía.</p>

            <p>Además de la fotografía tradicional, me encanta capturar momentos épicos de mis sesiones de videojuegos. Las capturas de pantalla de videojuegos son una manera de inmortalizar esas escenas impresionantes y detalles visuales que hacen que cada juego sea único. Ya sea un paisaje increíblemente diseñado, un momento de acción intensa, o simplemente una vista impresionante desde dentro del juego, estas imágenes cuentan historias y reflejan la dedicación y creatividad de los desarrolladores. En esta galería, comparto algunas de mis capturas favoritas, invitándote a ver el mundo de los videojuegos a través de mi perspectiva.</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="portfolio-info">
            <h3>Frases célebres</h3>
            <div class="testimonial-item">
              <p>"La tierra es arte, el fotógrafo es solo un testigo."</p>
              <div>
                <h3>Yann Arthus-Bertrand</h3>
              </div>
            </div>
            <br>

            <div class="testimonial-item">
              <p>"Para ser insustituible, siempre debes ser diferente."</p>
              <div>
                <h3>Coco Chanel</h3>
              </div>
            </div>
            <br>

            <div class="testimonial-item">
              <p>"Aprendí que la gente olvidará lo que dijiste e hiciste, pero nunca olvidará cómo los hiciste sentir."</p>
              <div>
                <h3>Maya Angelou</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      
  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container-fluid">
      <div class="row gy-4 justify-content-center">
        <div class="col-lg-12 col-md-12">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (14).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (14).jpg"
                title="Fotografía panorámica de un atardecer"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->


        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (13).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (13).jpg"
                title="Fotografía de un girasol"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_ss/codm (1).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
              href="/img/galeria_ss/codm (1).jpg"
                title="Captura de pantalla tomada de Call of Duty Mobile"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (7).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (7).jpg"
                title="Fotografía del cielo"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_ss/pubgm (2).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
              href="/img/galeria_ss/pubgm (2).jpg"
                title="Captura de pantalla tomada de PUBG Mobile"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->
        
        <div class="col-lg-12 col-md-12">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (1).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (1).jpg"
                title="Fotografía panorámica durante el día"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_ss/efootball (2).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_ss/efootball (2).jpg"
                title="Captura de pantalla tomada de eFootball"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (12).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (12).jpg"
                title="Fotografía de un girasol"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_ss/freefire (1).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
              href="/img/galeria_ss/freefire (1).jpg"
                title="Captura de pantalla tomada de Free Fire"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (6).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (6).jpg"
                title="Fotografía del atardecer"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->
        
        <div class="col-lg-12 col-md-12">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (15).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (15).jpg"
                title="Fotografía panorámica durante el día"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (8).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (8).jpg"
                title="Fotografía de flores naranjas"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_ss/apexm (1).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
              href="/img/galeria_ss/apexm (1).jpg"
                title="Captura de pantalla tomada de Apex Mobile"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (2).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (2).jpg"
                title="Fotografía de una flor marchitando"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_ss/codm (2).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
              href="/img/galeria_ss/codm (2).jpg"
                title="Captura de pantalla tomada de Call of Duty Mobile"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        
        
        <div class="col-lg-12 col-md-12">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (9).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (9).jpg"
                title="Fotografía del atardecer"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (3).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (3).jpg"
                title="Fotografía del atardecer"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->
        

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (4).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (4).jpg"
                title="Fotografía de monumento"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_ss/outlast (1).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
              href="/img/galeria_ss/outlast (1).jpg"
                title="Captura de pantalla tomada de Outlast"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-6 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_ss/mk11 (1).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
              href="/img/galeria_ss/mk11 (1).jpg"
                title="Captura de pantalla tomada de Mortal Kombat 11"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->
      </div>
    </div>
  </section>
  <!-- End Gallery Section -->
    </div>
  </section>
  <!-- End Gallery Single Section -->

</main>
<!-- End #main -->

<%- include("includes/_footer") %>
