<%- include("includes/_header", { titulo: titulo }) %>

<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="hero d-flex flex-column justify-content-center align-items-center"
  data-aos="fade"
  data-aos-delay="1500"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2>I'm Bruno</h2>
        <p>I enjoy listen to music, read books, take photos...</p>
        <a href="/comingsoon" class="btn-get-started">Próximamente</a>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<main id="main" data-aos="fade" data-aos-delay="1500">
  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container">
      <div class="row gy-4 justify-content-center">
        

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (13).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (13).jpg"
                title="Fotografía de un girasol"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_ss/codm (1).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
              href="/img/galeria_ss/codm (1).jpg"
                title="Captura de pantalla tomada de Call of Duty Mobile"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (7).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (7).jpg"
                title="Fotografía del cielo"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_ss/pubgm (2).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
              href="/img/galeria_ss/pubgm (2).jpg"
                title="Captura de pantalla tomada de PUBG Mobile"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_fotos/foto (6).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="/img/galeria_fotos/foto (6).jpg"
                title="Fotografía del atardecer"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
            src="img/galeria_ss/freefire (1).jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
              href="/img/galeria_ss/freefire (1).jpg"
                title="Captura de pantalla tomada de Free Fire"
                class="glightbox preview-link"
                ><i class="bi bi-arrows-angle-expand"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->
      </div>
    </div>
  </section>
  <!-- End Gallery Section -->
</main>
<!-- End #main -->

<div id="preloader">
  <div class="line"></div>
</div>

<%- include("includes/_footer") %>