<%- include("includes/_header", { titulo: titulo }) %>

<main id="main" data-aos="fade" data-aos-delay="1500">
  <!-- ======= Page Header ======= -->
  <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-12 text-center">
          <h2>Música</h2>
          <p>
            La música es una parte esencial de mi vida, no solo como una fuente
            de entretenimiento, sino también como una poderosa herramienta
            creativa. A través de la música, encuentro inspiración y energía
            para mis proyectos diarios, permitiéndome explorar nuevas ideas y
            enfoques innovadores. Cada canción, cada melodía, tiene el poder de
            transportarme a diferentes estados de ánimo y escenarios,
            enriqueciéndome tanto personal como profesionalmente. La música no
            solo me acompaña en mis momentos de ocio, sino que también es mi
            compañera en las largas horas de programación, ayudándome a mantener
            la concentración y a encontrar soluciones creativas a los problemas.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header -->

  <!-- ======= About Music Section ======= -->
  <section id="about-music" class="about-music">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 content order-lg-1 order-2">
          <h3>La Importancia de la Música</h3>
          <p>
            La música ha sido una constante en mi vida, proporcionando un telón
            de fondo emocional para muchos de mis recuerdos más preciados. Desde
            las melodías que me acompañan durante los momentos de concentración
            hasta las canciones que me motivan durante el ejercicio, la música
            tiene un poder único para influir en mi estado de ánimo y
            productividad.
          </p>
          <p>
            Además de ser una fuente de placer, la música también me ayuda a
            conectarme con otras personas. Compartir gustos musicales y
            descubrir nuevos artistas con amigos y colegas es una experiencia
            enriquecedora que fomenta la creatividad y la colaboración.
          </p>
          <p>
            Cada género me ofrece una nueva perspectiva y una fuente inagotable
            de inspiración. Ya sea escuchando los clásicos del rock, las últimas
            tendencias del pop, o los beats experimentales de la electrónica,
            siempre encuentro algo que enriquece mi día a día.
          </p>
        </div>
        <div class="col-lg-6 order-lg-2 order-1">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/iICebC5Ks4I?si=muAJ1DjlHLbc5Tzq"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
        <!-- <div class="col-lg-6 order-lg-2 order-1">
          <img src="/img/vistas/mbo.jpg" class="img-fluid" alt="Música" />
        </div> -->
      </div>
    </div>
  </section>
  <!-- End About Music Section -->

  <!-- ======= My Favorite Genres Section ======= -->
  <section id="favorite-genres" class="favorite-genres">
    <div class="container">
      <div class="row gy-4">
        <!-- <div class="col-lg-6 order-lg-1 order-1">
          <img
            src="/img/vistas/dvlm2.jpg"
            class="img-fluid"
            alt="Géneros Musicales"
          />
        </div> -->
        <div class="col-lg-6 order-lg-2 order-1">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/jXh22Al69KI?si=omAkuMNrNeI1Vds9"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div><div class="col-lg-6 content order-lg-2 order-2">
          <h3>Mis Géneros Musicales Favoritos</h3>
          <p>
            Aunque disfruto de una amplia variedad de géneros musicales, algunos
            de mis favoritos incluyen el rock, el pop y la música electrónica.
            Cada uno de estos géneros ofrece algo único que resuena conmigo, ya
            sea la energía del rock y del pop, o los paisajes sonoros
            innovadores de la música electrónica.
          </p>
          <p>
            La diversidad de la música pop me mantiene enganchado con sus
            melodías pegajosas y letras que reflejan diferentes aspectos de la
            vida cotidiana. Por otro lado, la música electrónica me lleva a un
            viaje sonoro, explorando ritmos y sonidos que estimulan mi
            creatividad y me permiten desconectar del mundo exterior. El rock,
            con su energía y pasión, me llena de vitalidad y me inspira a
            afrontar nuevos desafíos con determinación.
          </p>
        </div>
        
      </div>
    </div>
  </section>
  <!-- End My Favorite Genres Section -->

  <!-- ======= Music and Coding Section ======= -->
  <section id="music-and-coding" class="music-and-coding">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 content order-lg-1 order-2">
          <h3>Música y Programación</h3>
          <p>
            Para mí, la música y la programación están intrínsecamente
            conectadas. La música tiene la capacidad de crear el ambiente
            perfecto para el desarrollo de software, ayudándome a mantenerme
            concentrado y motivado. Dependiendo del tipo de tarea en la que
            estoy trabajando, elijo diferentes estilos de música que
            complementan el flujo de trabajo.
          </p>
          <p>
            Por ejemplo, durante las sesiones de codificación intensiva,
            prefiero escuchar música dubstep, mientras que durante las tareas
            más repetitivas o administrativas, opto por algo más enérgico para
            mantenerme activo, tal es el caso del techno o del rock. Esta
            sinergia entre música y programación no solo mejora mi
            productividad, sino que también hace que el proceso de desarrollo
            sea mucho más disfrutable.
          </p>
        </div>
        <div class="col-lg-6 order-lg-2 order-1">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/SXcFYnHSG08?si=xCdYuE-qwYvyw8w0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
        <!-- <div class="col-lg-6 order-lg-2 order-1">
          <img src="/img/vistas/zoe.jpg" class="img-fluid" alt="Música y Programación">
        </div> -->
      </div>
    </div>
  </section>
  <!-- End Music and Coding Section -->
</main>
<!-- End #main -->

<%- include("includes/_footer") %>
