<%- include("includes/_header", { titulo: titulo }) %>

<main id="main" data-aos="fade" data-aos-delay="1500">
  <!-- ======= Page Header ======= -->
  <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-12 text-center">
          <h2>Información relevante</h2>
        </div>
      </div>
    </div>
  </div><!-- End Page Header -->

  <!-- ======= Policies Section ======= -->
  <section id="policies" class="policies">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-12 content">
          <h3>Políticas de Privacidad</h3>
          <p>
            Tu privacidad es importante para nosotros. Esta política de privacidad explica qué información personal recopilamos y cómo la usamos.
          </p>
          <p>
            Recopilamos información cuando te registras en nuestro sitio, respondes a una encuesta o llenas un formulario. La información recopilada puede incluir tu nombre, dirección de correo electrónico y número de teléfono.
          </p>
          <p>
            Además, garantizamos que tu información personal será tratada de manera confidencial y no será compartida con terceros sin tu consentimiento explícito.
          </p>

          <h3>Uso de Datos</h3>
          <p>
            Utilizamos la información que recopilamos para proporcionarte una experiencia personalizada, mejorar nuestro sitio web, etc.
          </p>
          <p>
            Es importante destacar que nunca venderemos, alquilaremos ni divulgaremos tu información personal a terceros sin tu consentimiento, excepto cuando la ley lo exija.
          </p>

          <h3>Términos y Condiciones</h3>
          <p>
            Al utilizar nuestro sitio, aceptas cumplir con nuestros términos y condiciones. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de estos términos y condiciones. Es tu responsabilidad revisar esta página periódicamente para estar al tanto de los cambios.
          </p>
          <p>
            Asimismo, te comprometes a no utilizar nuestro sitio para cualquier propósito ilegal o no autorizado, ni violar ninguna ley en tu jurisdicción (incluidas, entre otras, las leyes de derechos de autor).
          </p>

          <h3>Registro de Datos</h3>
          <p>
            Recopilamos cierta información automáticamente y la almacenamos en nuestra base de datos. Esta información incluye direcciones de protocolo de Internet (IP), el tipo de navegador, el proveedor de servicios de Internet (ISP), páginas de referencia/salida, y el tipo de dispositivo utilizado. Utilizamos esta información para analizar tendencias, administrar el sitio, rastrear el movimiento de los usuarios en el sitio y recopilar información demográfica.
          </p>
          <p>
            Te aseguramos que implementamos medidas de seguridad apropiadas para proteger tus datos contra accesos no autorizados, divulgación o destrucción no autorizada.
          </p>
        </div>
      </div>
    </div>
  </section><!-- End Policies Section -->

</main><!-- End #main -->

<%- include("includes/_footer") %>
