<%- include("includes/_header") %>

<main id="main" data-aos="fade" data-aos-delay="200">
  <!-- ======= Page Header ======= -->
  <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-12 text-center">
          <h2>Videojuegos</h2>
          <p>
            Los videojuegos juegan un papel fundamental en mi vida como
            desarrollador. No solo son una fuente de entretenimiento, sino
            también una rica fuente de inspiración y aprendizaje. A través de
            ellos, he desarrollado un agudo sentido de la creatividad y el
            pensamiento crítico, habilidades esenciales para la programación.
            Los videojuegos me enseñan sobre diseño de interfaces de usuario,
            narrativa interactiva y mecánicas de juego, conocimientos que aplico
            en el desarrollo de software para crear experiencias atractivas y
            dinámicas. Además, me mantienen al tanto de las últimas tendencias
            tecnológicas y de diseño, impulsándome a innovar y mejorar
            continuamente en mi trabajo.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="row gy-4">
        <div class="col-xl-3 col-md-6 d-flex">
          <div class="service-item position-relative">
            <i class="bi bi-1-circle-fill"></i>
            <h4><a href="#" class="stretched-link">Mortal Kombat 11</a></h4>
            <p>
              "Mortal Kombat 11" no solo ofrece combates intensos y sangrientos,
              sino que también presenta una historia convincente y personajes
              icónicos. Disfruto explorando diferentes estrategias de lucha y
              perfeccionando mis habilidades para dominar los brutales
              enfrentamientos uno contra uno.
            </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex">
          <div class="service-item position-relative">
            <i class="bi bi-2-circle-fill"></i>
            <h4><a href="#" class="stretched-link">Cuphead</a></h4>
            <p>
              Me encanta la estética única de "Cuphead", con su estilo de
              animación inspirado en los dibujos animados clásicos de los años
              30 y su desafiante jugabilidad de estilo "run and gun". Cada nivel
              es una obra de arte visual y auditiva.
            </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex">
          <div class="service-item position-relative">
            <i class="bi bi-3-circle-fill"></i>
            <h4><a href="#" class="stretched-link">Tower of Fantasy</a></h4>
            <p>
              Este es un título que he estado siguiendo de cerca debido a su
              impresionante mundo abierto y su enfoque en la exploración y el
              combate. La combinación de elementos de juego de rol y acción en
              tiempo real promete una experiencia emocionante y llena de
              aventuras.
            </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex">
          <div class="service-item position-relative">
            <i class="bi bi-4-circle-fill"></i>
            <h4><a href="#" class="stretched-link">GRIS</a></h4>
            <p>
              A través de su impresionante arte visual y su conmovedora banda
              sonora, "GRIS" me transporta a un mundo de ensueño donde puedo
              reflexionar sobre temas profundos mientras disfruto de una
              experiencia de juego relajante y estimulante.
            </p>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container">
      <div class="section-header">
        <h2>Otros juegos</h2>
      </div>

      <div class="row gy-4 gx-lg-5">
        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Injustice 2</h3>
          </div>
        </div>
        <!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Outlast</h3>
          </div>
        </div>
        <!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Portal 2</h3>
          </div>
        </div>
        <!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Stray</h3>
          </div>
        </div>
        <!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Asphalt 8</h3>
          </div>
        </div>
        <!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Call of Duty Mobile</h3>
          </div>
        </div>
        <!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>eFootball 2024</h3>
          </div>
        </div>
        <!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>PUBG Mobile</h3>
          </div>
        </div>
        <!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Free Fire</h3>
          </div>
        </div>
        <!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Apex Legends Mobile</h3>
          </div>
        </div>
        <!-- End Pricing Item -->
      </div>
    </div>
  </section>
  <!-- End Pricing Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container">
      <div class="section-header">
        <h2>Capturas de pantalla</h2>
      </div>

      <div class="slides-3 swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="img/galeria_ss/mk11 (2).jpg" class="img-fluid" alt="" />
              <div
                class="gallery-links d-flex align-items-center justify-content-center"
              >
                <a
                  href="/img/galeria_ss/mk11 (2).jpg"
                  class="glightbox preview-link"
                  ><i class="bi bi-eye-fill" style="color: black;"></i
                ></a>
              </div>
              <div class="profile mt-auto">
                <h3>Mortal Kombat 11</h3>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="img/galeria_ss/gris.png" class="img-fluid" alt="" />
              <div
                class="gallery-links d-flex align-items-center justify-content-center"
              >
                <a
                  href="/img/galeria_ss/gris.png"
                  class="glightbox preview-link"
                  ><i class="bi bi-eye-fill" style="color: black;"></i
                ></a>
              </div>
              <div class="profile mt-auto">
                <h3>Gris</h3>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="img/galeria_ss/honkai (1).jpg"
                class="img-fluid"
                alt=""
              />
              <div
                class="gallery-links d-flex align-items-center justify-content-center"
              >
                <a
                  href="/img/galeria_ss/honkai (1).jpg"
                  class="glightbox preview-link"
                  ><i class="bi bi-eye-fill" style="color: black;"></i
                ></a>
              </div>
              <div class="profile mt-auto">
                <h3>Honkai Impact 3rd</h3>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="img/galeria_ss/outlast (2).jpg"
                class="img-fluid"
                alt=""
              />
              <div
                class="gallery-links d-flex align-items-center justify-content-center"
              >
                <a
                  href="/img/galeria_ss/outlast (2).jpg"
                  class="glightbox preview-link"
                  ><i class="bi bi-eye-fill" style="color: black;"></i
                ></a>
              </div>
              <div class="profile mt-auto">
                <h3>Outlast</h3>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="img/galeria_ss/multiversus (4).jpg"
                class="img-fluid"
                alt=""
              />
              <div
                class="gallery-links d-flex align-items-center justify-content-center"
              >
                <a
                  href="/img/galeria_ss/multiversus (4).jpg"
                  class="glightbox preview-link"
                  ><i class="bi bi-eye-fill" style="color: black;"></i
                ></a>
              </div>
              <div class="profile mt-auto">
                <h3>Multiversus</h3>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->
</main>
<!-- End #main -->

<%- include("includes/_footer") %>
